#menu-toggle {
    margin-right:5px;
}
.margin-separation-20 {
    margin-top:20px;
}
.margin-separation-10 {
    margin-top:10px;
}
.margin-separation-5 {
    margin-top:5px;
}

textarea {
    resize: vertical;
}